[submodule "runtime-library/dyntype/quickjs"]
	path = runtime-library/dyntype/quickjs
	url = https://github.com/wasm-micro-runtime/quickjs.git
[submodule "runtime-library/dyntype/wamr"]
	path = runtime-library/dyntype/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
