# This is a basic workflow to help you get started with Actions

name: Android

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Build iwasm [default]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake ..
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [classic interp]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_FAST_INTERP=0
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [multi module]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_MULTI_MODULE=1
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [lib-pthread]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_LIB_PTHREAD=1
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [aot only]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_AOT=1 -DWAMR_BUILD_INTERP=0
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [interp only]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_AOT=0
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [memory profiling]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_MEMORY_PROFILING=1
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [tail call]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_TAIL_CALL=1
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [custom name section]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_CUSTOM_NAME_SECTION=1
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [disable hardware boundary check]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_DISABLE_HW_BOUND_CHECK=1
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [reference types]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_REF_TYPES=1
          make -j $(nproc)
          cd .. && rm -rf build
      - name: Build iwasm [128-bit SIMD]
        run: |
          cd product-mini/platforms/android
          mkdir build && cd build
          cmake .. -DWAMR_BUILD_SIMD=1
          make -j $(nproc)
          cd .. && rm -rf build
